{{#each users}}
  {{!-- <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{lastName}}, {{firstName}}
    </h2>
    <div class="tags">
        <span class="tag is-primary has-background-info">{{category}}</span>
    </div>
    <a href="/poi/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
    <a href="/dashboard/deletepoi/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div> --}}

    <div class="box">
        <article class="media is-flex is-align-items-center">
            <div class="media-left"> 
                <i class="far fa-user" style="font-size: 48px;"></i>
            </div>
            <div class="media-content">
                <p class="title is-4">{{lastName}}, {{firstName}}</p>
                <p class="subtitle is-6">{{email}}</p>
            </div>
            <div class="media-right">
            <a href="/dashboard/deletepoi/{{_id}}">
                <button class="button is-danger">Delete</button>
            </a>
        </div>
        </article>
    </div>
{{/each}}